<%- include('partials/header'); -%>



  <div class="row justify-content-center">

      <!-- Post Content Column -->
      <div class="col-lg-7">

        <!-- Title -->
        <h1 class="mt-4"><%= titleContent %></h1>

        <!-- Author -->
        <p class="lead">
          by
          <a href="#"><%= postedBy %></a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p><%= postDate %></p>

        <hr>


        <!-- Preview Image -->
        <img  alt="Post_Img" class="img-fluid rounded" src=<%= img %> >

        <hr>

        <!-- Post Content -->
        <p class="lead"><%= bodyContent %></p>

        <hr>


        
        <form action="/likeAndDislike" method="post">
          <div class="form-group">
            <input type="hidden" name="postId" value="<%= postId %>">
            <input type="hidden" name="userId" value="<%= creatorId %>">
          </div>
          <button type="submit" name="type" value="like" class="btn rounded btn-primary">
            Likes <span class="badge badge-light"><%= likes %></span>
            <span class="sr-only"><%= likes %></span>
          </button>
          <button type="submit" name="type" value="dislike" class="btn rounded btn-primary">
            Dislikes <span class="badge badge-light"><%= dislikes %></span>
            <span class="sr-only"><%= dislikes %></span>
          </button>
        </form> 
        
      
          <hr>
        
      <hr>
        <!-- Comments Form -->
        <div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form action="/comment" method="post">
              <div class="form-group">
                <textarea class="form-control" rows="3" name="comment"></textarea>
                <input type="hidden" name="postId" value="<%= postId %>">
                <input type="hidden" name="userId" value="<%= creatorId %>">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>

        <!-- Single Comment -->
        <div class="media mb-4">
          <div class="media-body">
            <% comments.forEach(function(comment) { %>
              <h5 class="mt-0"><%= comment.name %></h5>
              <%= comment.content %>
              <hr>
            <% }) %>
          </div>
        </div>

        <!-- Comment with nested comments -->

      </div>
      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Profile Widget -->        
          <div class="card1 p-4 mt-3">
              <div class="first">
                  <h6 class="heading1">Profile</h6>
              </div>
              <div class="second d-flex flex-row mt-2">
                  <div class="image mr-3 "> <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="rounded-circle" width="60" /> </div>
                  <div class="">
                      <div class="d-flex flex-row mb-1"> <span>@<%= postedBy %></span>
                          <!-- <div class="ratings ml-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div> -->
                      </div>

                      <div> <button class="btn btn-outline-dark btn-sm px-2">+ follow</button> <a href="/profile/<%= creatorId %>" value="otherUser"><button class="btn btn-outline-dark btn-sm">See Profile</button> </a><button class="btn btn-outline-dark btn-sm"><i class="fa fa-comment-o"></i></button> </div>
                  </div>
              </div>
          </div>
      </div>

    </div>
    <!-- /.row -->


<%- include('partials/footer'); -%>
