<%- include('partials/header'); -%>




  <div class="row justify-content-cente" style="padding: 10px;">
  <div class="col-md-7" >
<% posts.forEach(function(post) { %>
  <div class="card mb-4">
          <img class="card-img-top" src=<%= post.imgUrl %> alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title"><%= post.title %></h2>
            <p class="card-text"><%= post.content.substring(0,200) + " ..." %></p>
            <form  action="/posts/<%= post._id %>" method="post">
              <button class="btn btn-primary" type="submit" name="button" value="home">Read More</button>
            </form>
            <!-- <a href="/posts/<%= post._id %>" class="btn btn-primary">Read More</a> -->
            <!-- <input type="hidden" name="pageName" value="home"> -->
          </div>
          <div class="card-footer text-muted">
           <%= post.updatedAt %><br>
            Posted By:<a href="#"><%= post.creatorName %></a>
          </div>
        </div>
<% }) %>

</div>
<div class="col-md-5">
  <form action="/new" method="post">
    <button name="button" class="btn btn-primary" value="new">Create new Blog</button>
  </form>
</div>

</div>


<%- include('partials/footer'); -%>
