

/* .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
    margin: 0 auto -155px;
} */



/* .card-1 {
  border-radius: 25px;
  position: relative;
  padding: 25px 15px;
  background-color: #FCFCFC ;
  margin: 50px 0;
  height: 200px;
  box-shadow: 0 2px 5px #ccc;
  text-align: left;
}

.card-2 {
  border-radius: 25px;
  position: relative;
  padding: 70px 10px;
  background-color: #FCFCFC ;
  margin: 50px 0;
  height: 150px;
  box-shadow: 0 2px 5px #ccc;
  text-align: center;
}

.top-2 {
  border-radius: 25px 25px 0 0;
  height: 75px;
  width: 100%;
  background-color: #EBE9EC ;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}


.top {
  border-radius: 25px 25px 0 0;
  height: 100px;
  width: 100%;
  background-color: #EBE9EC ;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.name {
  font-size: 1.5em;
  color: #2d3436;
  display: flex;
  flex: 1;
  margin: 10% 20px 0;
}

.card-1 img {
  margin: 30px 20px 0 0;
}

.circle-img {
  border-radius: 50%;
  border: 7px solid #fff;
  width: 120px;
  height: 120px;
}

.bottom {
  margin-top: 100px;
}

.info {
  margin: 5px 2px;
  color: #2d3436;
}

.icon{
  padding: 10px 20px;
} */


.card1 {
  background-color: #e7e4e3;
  width: 350px;
  border-radius: 20px
}

.heading1 {
  font-weight: 700
}

.line-color {
  color: green;
  height: 3px
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color:#212529;
  margin-top:auto;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}
